@import '_var.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $LightWhite;
}

// Base Layout CSS
main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // height: 100%;
    min-height: fit-content;

}

.layout-content {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $LightWhite;
    width: 100%;
    height: auto;
}


// Page Content
.page-content {
    padding: 20px 10px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .page-title {
            padding: 10px;
            background-color: $SecondaryGreen;
            border-radius: 4px;

            h1 {
                @include section-header-title();

                span {
                    color: $PrimaryRed;
                }
            }
        }

        .page-card {
            border-radius: 4px;
            background-color: white;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card-title {
                font-size: 1rem;
                font-weight: 600;
                color: black;
                // color: $TextLighter;
            }

            .row-wrapper {
                display: flex;
                flex-direction: row;
                column-gap: 20px;
                row-gap: 20px;
                flex-wrap: wrap;
                width: 100%;
                align-items: stretch;
                justify-content: space-between;

                .row-item-wrapper {
                    // width: 100%;
                    // flex-basis: 220px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: flex-start;
                    justify-content: center;
                    
                    &.form-wrapper {
                        flex-basis: 450px;
                        flex-grow: 1;
                    }

                    .button-wrapper {
                        // width: 100%;
                        // flex-basis: 220px;
                        flex-grow: 1;

                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: flex-end;
                        justify-content: flex-end;

                        .submit-button {
                            @include base-button ($PrimaryRed, white, $PrimaryDark, white);
                        }
                    }

                }
            }

        }

    }
}

// Default Form Control
.form-control {
        
    &:focus, &:active {
        border-color: $PrimaryGreen;
        
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                    0 0 8px rgba($PrimaryGreen, 0.6);
    }
}

.form-floating {
    
    small.error {
        margin-left: 5px;
        color: $PrimaryRed;
    }
}


// Powergrid Table Container
.table-container {

    .table-delete-button {
        @include base-button($PrimaryRed, white, $PrimaryDark, white);
    }
    
    .export-button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0;

        .header-button {
            @include base-button ($PrimaryDark, white, lighten($PrimaryDark, 20%), white);
        }


    }
                
    th, td {
        
        span {
            // max-width: 150px;
            

            div {
                width: 100%;
                height: fit-content;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
        
    }

    .cursor-pointer {
        &:hover {
            cursor: pointer;
            
            svg {
                color: $PrimaryRed;
            }
        }

        svg {
            height: 20px;

        }
    }

    .table-details-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        
        .image-container {
            width: 100%;
            max-width: 320px;
            height: fit-content;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}

// FlatPickr Date Input Form
.flatpickr-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;

    .flatpickr-input {
        border-radius: 4px;
        border: 1px solid $CardBorder;
    }

    .flatpickr-clearable {
        position: absolute;
        height: unset;
        right: 0;
        top: 0;
        bottom: 0;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: $CardBorder;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

// Default Form Input
.form-wrapper {
    max-width: 620px;
}

.form-input-wrapper {
    display: flex;
    column-gap: 20px;
    row-gap: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .form-title {
        font-weight: 600;
        flex-basis: 200px;
        padding: 0;
    }

    input, textarea {
        border-radius: 4px;
        padding: 5px 10px;
        
        &.form-input-default {
            outline: none;
            background-color: $LightWhite;
            border: 0;

            &:hover, &:focus {
                background-color: darken($LightWhite, 2%);
            }
        }

    }
    
    select {
        background-color: white;
        border: 2px solid $LightWhite;
        border-radius: 4px;
        padding: 5px 10px;
        outline: none;
    }

    &.row {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;

        .form-items {
            display: flex;
            flex-direction: column;
            gap: 5px;  
            flex-grow: 1;
            flex-basis: 200px;
            padding: 0;

            small {
                margin-left: 5px;
                
                &.error {
                    color: $PrimaryRed;
                }
            }
        }
    }

    &.column {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        
        .form-title {
            font-weight: 600;
            flex-basis: unset;
        }

        .form-items {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;  

            small {
                margin-left: 5px;
                
                &.error {
                    color: $PrimaryRed;
                }
            }
    
            .textarea {
                min-height: 80px;
                width: 100%;
            }
        }
    }
    
}



// Admin Sidebar
.sidebar-shadow {
    width: 280px;
    transition: all 0.3s ease-in-out;
    height: 100vh;
    position: relative;
    flex-shrink: 0;

    &.hide {
        width: 20px;
    }
}
.sidebar {
    min-height: fit-content;
    width: 280px;
    background-color: $PrimaryBlack;
    position: fixed;
    height: 100%;
    min-height: fit-content;
    z-index: 140;
    transition: all 0.3s ease-in-out;

    .toggle-btn {
        position: absolute;
        top: 63px;
        right: 0;
        border-radius: 50%;
        background-color: white;
        box-shadow: $BoxShadow;
        display: grid;
        place-items: center;
        width: 40px;
        height: 40px;
        transform: translateX(50%);
        z-index: 144;

        i {
            width: 20px;
            height: 20px;
            font-size: 1.3rem;
            color: black;
            transition: all 0.3s ease-in-out;
            display: grid;
            place-items: center;
            overflow: visible;
        }

        &:hover {
            cursor: pointer;
            background-color: $PrimaryGreen;
            
            i {
                color: white;
            }
        }
        
        &.expand {
            background-color: $SecondaryGreen;

            i {
                transform: rotate(180deg);
            }
        }
    }

    .content {
        width: 280px;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        font-size: 1rem;
        flex-shrink: 0;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: translateX(0);
        height: 100vh;
        min-height: fit-content;
        position: fixed;
        overflow-y: auto;
    
        .logo-hero {
            width: fit-content;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 2px;
            text-decoration: none;
            color: white;

            &::first-letter {
                color: $SecondaryGreen;
            }
            
            &:hover {
                cursor: pointer;
                color: $SecondaryGreen;
            }
        }
    
        .page-hero-title {
            width: fit-content;
            font-size: 1rem;
            letter-spacing: 2px;
            color: white;
            text-transform: capitalize;
        }
    
        .page-title {
            width: 100%;
            font-size: 1rem;
            text-transform: uppercase;
            color: $TextLighter;
            font-weight: 600;
        }
    
        .menu-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
    
            .menu-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
        
                .menu-title {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
        
                    span {
                        font-weight: 600;
                    }
        
                    i {
                        font-size: 1.3rem;
                        transition: all 0.3s ease-in-out;

                        &.expand {
                            transform: rotate(-90deg);
                        }
                    }
    
                    &:hover {
                        cursor: pointer;
                        color: $SecondaryGreen;
                    }
                }
    
                .sub-menu-item-wrapper {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    max-height: 0;
                    overflow-y: hidden;
                    transition: all 0.3s ease-in-out;
                    
                    li {
                        font-size: 0.9em;
                        display: flex;
                        flex-direction: row;
                        
                        a {
                            padding: 5px 5px 5px 20px;
                            width: 100%;
                            height: 100%;
                            color: white;
                            text-decoration: none;  
                            
                            &:hover {
                                cursor: pointer;
                                background-color: lighten($PrimaryBlack, 5%);
                            }
                        }

                        &.active {
                            a {
                                color: $SecondaryGreen;
                                font-weight: 600;
                            }
                        }
    
    
                    }
    
                }

                .menu-title.active + .sub-menu-item-wrapper {
                    max-height: 100vh;
                }
            }
        }

        .seperator {
            width: 100%;
            flex-grow: 1;
        }

        .auth {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 5px;
            flex-wrap: wrap;
            position: relative;
            padding-top: 5px;

            .image-container {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .no-image {
                    @include no-image-i();
                }
            }

            .username {
                flex-grow: 1;
                max-width: 50%;
                overflow-x: hidden;
                font-size: 0.8em;
            }

            .logout-button {
                padding: 10px;
                background-color: transparent;
                border: 0;
                color: white;

                &:hover {
                    cursor: pointer;
                    background-color: lighten($PrimaryBlack, 10%);

                    i {
                        color: $PrimaryRed;
                        // Change
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: 0px;
                right: 0px;

                height: 1px;
                background-color: rgb(61, 61, 61);
            }

        }
    }

    &.hide {
        width: 20px;
    
        .content {
            width: fit-content;
            opacity: 0;
            transform: translateX(-100vw);
        }

    }

}

// Admin Navbar
.navbar {
    width: 100%;
    min-width: fit-content;
    background-color: white;
    font-size: 1rem;
    overflow: hidden;
    
    .container {
        min-width: 280px;
        min-height: $NavbarDefaultHeight;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 5px;
        padding-bottom: 5px;
        
        .welcome-container {
            flex-basis: 180px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            flex-wrap: wrap;
            overflow-x: hidden;

            .msg {
                text-transform: capitalize;
                letter-spacing: 2px;
                color: $TextLighter;
                flex-shrink: 0;
            }
            
            .username {
                flex-grow: 1;
                text-transform: capitalize;
                font-weight: 600;
                color: black;
                letter-spacing: 1px;
                overflow-x: hidden;
            }
        }

        .nav-menu {
            flex-grow: 1;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
            padding: 0 10px;
            margin: 0;

            li {
                padding: 5px 10px;
                display: grid;
                place-items: center;
                position: relative;
                
                a {
                    color: black;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    width: 0;
                    transition: all 0.2s ease-in-out;
                    
                }
                &.sport::after {
                    background-color: $PrimaryRed;
                }
                &.env::after {
                    background-color: $PrimaryGreen;
                }
                &.history::after {
                    background-color: $PrimaryYellow;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
                &.sport:hover {
                    a:first-letter {
                        color: $PrimaryRed;
                    }
                }
                &.env:hover {
                    a:first-letter {
                        color: $PrimaryGreen;
                    }
                }
                &.history:hover {
                    a:first-letter {
                        color: $PrimaryYellow;
                    }
                }



            }
        }

        .logout {

            .logout-button {
                @include button-default($bg_color: $PrimaryGreen);
                border-radius: 4px;
                height: 30px;
            
                &:hover {
                    background-color: $SecondaryGreen;
                }
            }
        }
    }

}


// Confirmation Modal 
.confirmation-modal {
    
    .modal-dialog {

        .modal-content {
            border-radius: 4px;

            .modal-button {
                height: 35px;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                }
            }
            
            .confirm-button {
                @include button-default($bg_color: $PrimaryGreen);

                &:hover {
                    cursor: pointer;
                    background-color: darken($PrimaryGreen, 20%);
                }
            }

            .alert-button {
                @include button-default($bg_color: $PrimaryRed);

                &:hover {
                    cursor: pointer;
                    background-color: darken($PrimaryRed, 20%);
                }
            }
            
            .abort-button {
                @include button-default($bg_color: $CardBorder);
                color: black;

                &:hover {
                    cursor: pointer;
                    background-color: darken($CardBorder, 20%);
                }
            }
        }
    }
}

// Session Message
#session-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 8px;
    box-shadow: $BoxShadow;
    max-width: 220px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
    opacity: 0;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &.success {
        .content i.success {
            display: block;
        }
    }
    &.danger {
        .content i.danger {
            display: block;
        }
    }
    &.info {
        .content i.info {
            display: block;
        }
    }

    .close-button {
        display: grid;
        place-items: center;
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            background-color: $BorderLight;
        }

    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        i {
            font-size: 1.5rem;
            display: none;

            &.success {
                color: $PrimaryGreen;
            }
            &.danger {
                color: $PrimaryRed;
            }
            &.info {
                color: $LightenOrange;
            }
        }

        .message {
            flex-grow: 1;
            font-weight: 600;
        }
    }
}


@media screen and (max-width: 991px) {
    .sidebar-shadow {
        display: none;
    }

    .sidebar {
        background-color: rgba($PrimaryBlack, 0.98);
    }
    
}

@media screen and (max-width: 767px) {
    .admin-navbar {

        .container {

            .logout {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .admin-navbar {

        .container {
            padding-left: 40px;
        }
    }
}

@media screen and (max-width: 575px) {
    .layout-content {

        .page-content {
            
            .container{
                padding-left: 25px;
                
            }
        }
    }
    .navbar {
        
        .container {
            padding-left: 40px;
        }
    }
}


@media screen and (max-width: 460px) {
    .admin-navbar {

        .container {
            
            .welcome-container {

                .msg, .username {
                    font-size: 0.9rem;
                }
            }

            .nav-menu {
                justify-content: space-between;
                
                li {
                    padding-left: 0;
                    padding-right: 0;

                    a {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 302px) {
    .sidebar {
        width: 250px;

        .content {
            width: 250px;
        }
    }
}