* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDF0F3;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.layout-content {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #EDF0F3;
  width: 100%;
  height: auto;
}

.page-content {
  padding: 20px 10px;
}
.page-content .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page-content .container .page-title {
  padding: 10px;
  background-color: #5d9faa;
  border-radius: 4px;
}
.page-content .container .page-title h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.page-content .container .page-title h1 span {
  color: #aa685d;
}
.page-content .container .page-card {
  border-radius: 4px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-content .container .page-card .card-title {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.page-content .container .page-card .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}
.page-content .container .page-card .row-wrapper .row-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.page-content .container .page-card .row-wrapper .row-item-wrapper.form-wrapper {
  flex-basis: 450px;
  flex-grow: 1;
}
.page-content .container .page-card .row-wrapper .row-item-wrapper .button-wrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
.page-content .container .page-card .row-wrapper .row-item-wrapper .button-wrapper .submit-button {
  background-color: #aa685d;
  font-weight: 600;
  color: white;
  font-size: 0.9rem;
}
.page-content .container .page-card .row-wrapper .row-item-wrapper .button-wrapper .submit-button:hover {
  cursor: pointer;
  background-color: #2A2A2A;
  color: white;
}

.form-control:focus, .form-control:active {
  border-color: #004452;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 68, 82, 0.6);
}

.form-floating small.error {
  margin-left: 5px;
  color: #aa685d;
}

.table-container .table-delete-button {
  background-color: #aa685d;
  font-weight: 600;
  color: white;
  font-size: 0.9rem;
}
.table-container .table-delete-button:hover {
  cursor: pointer;
  background-color: #2A2A2A;
  color: white;
}
.table-container .export-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}
.table-container .export-button-container .header-button {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  font-size: 0.9rem;
}
.table-container .export-button-container .header-button:hover {
  cursor: pointer;
  background-color: #5d5d5d;
  color: white;
}
.table-container th span div, .table-container td span div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.table-container .cursor-pointer:hover {
  cursor: pointer;
}
.table-container .cursor-pointer:hover svg {
  color: #aa685d;
}
.table-container .cursor-pointer svg {
  height: 20px;
}
.table-container .table-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.table-container .table-details-container .image-container {
  width: 100%;
  max-width: 320px;
  height: -moz-fit-content;
  height: fit-content;
}
.table-container .table-details-container .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.flatpickr-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}
.flatpickr-container .flatpickr-input {
  border-radius: 4px;
  border: 1px solid #C9C9C9;
}
.flatpickr-container .flatpickr-clearable {
  position: absolute;
  height: unset;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
}
.flatpickr-container .flatpickr-clearable:hover {
  background-color: #C9C9C9;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-wrapper {
  max-width: 620px;
}

.form-input-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-input-wrapper .form-title {
  font-weight: 600;
  flex-basis: 200px;
  padding: 0;
}
.form-input-wrapper input, .form-input-wrapper textarea {
  border-radius: 4px;
  padding: 5px 10px;
}
.form-input-wrapper input.form-input-default, .form-input-wrapper textarea.form-input-default {
  outline: none;
  background-color: #EDF0F3;
  border: 0;
}
.form-input-wrapper input.form-input-default:hover, .form-input-wrapper input.form-input-default:focus, .form-input-wrapper textarea.form-input-default:hover, .form-input-wrapper textarea.form-input-default:focus {
  background-color: #e7ebef;
}
.form-input-wrapper select {
  background-color: white;
  border: 2px solid #EDF0F3;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
}
.form-input-wrapper.row {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.form-input-wrapper.row .form-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  flex-basis: 200px;
  padding: 0;
}
.form-input-wrapper.row .form-items small {
  margin-left: 5px;
}
.form-input-wrapper.row .form-items small.error {
  color: #aa685d;
}
.form-input-wrapper.column {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.form-input-wrapper.column .form-title {
  font-weight: 600;
  flex-basis: unset;
}
.form-input-wrapper.column .form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-input-wrapper.column .form-items small {
  margin-left: 5px;
}
.form-input-wrapper.column .form-items small.error {
  color: #aa685d;
}
.form-input-wrapper.column .form-items .textarea {
  min-height: 80px;
  width: 100%;
}

.sidebar-shadow {
  width: 280px;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  position: relative;
  flex-shrink: 0;
}
.sidebar-shadow.hide {
  width: 20px;
}

.sidebar {
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 280px;
  background-color: #1C1C1C;
  position: fixed;
  height: 100%;
  min-height: fit-content;
  z-index: 140;
  transition: all 0.3s ease-in-out;
}
.sidebar .toggle-btn {
  position: absolute;
  top: 63px;
  right: 0;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  transform: translateX(50%);
  z-index: 144;
}
.sidebar .toggle-btn i {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  color: black;
  transition: all 0.3s ease-in-out;
  display: grid;
  place-items: center;
  overflow: visible;
}
.sidebar .toggle-btn:hover {
  cursor: pointer;
  background-color: #004452;
}
.sidebar .toggle-btn:hover i {
  color: white;
}
.sidebar .toggle-btn.expand {
  background-color: #5d9faa;
}
.sidebar .toggle-btn.expand i {
  transform: rotate(180deg);
}
.sidebar .content {
  width: 280px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  font-size: 1rem;
  flex-shrink: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  height: 100vh;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: fixed;
  overflow-y: auto;
}
.sidebar .content .logo-hero {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}
.sidebar .content .logo-hero::first-letter {
  color: #5d9faa;
}
.sidebar .content .logo-hero:hover {
  cursor: pointer;
  color: #5d9faa;
}
.sidebar .content .page-hero-title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  text-transform: capitalize;
}
.sidebar .content .page-title {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  color: #747474;
  font-weight: 600;
}
.sidebar .content .menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar .content .menu-wrapper .menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.sidebar .content .menu-wrapper .menu-item .menu-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar .content .menu-wrapper .menu-item .menu-title span {
  font-weight: 600;
}
.sidebar .content .menu-wrapper .menu-item .menu-title i {
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}
.sidebar .content .menu-wrapper .menu-item .menu-title i.expand {
  transform: rotate(-90deg);
}
.sidebar .content .menu-wrapper .menu-item .menu-title:hover {
  cursor: pointer;
  color: #5d9faa;
}
.sidebar .content .menu-wrapper .menu-item .sub-menu-item-wrapper {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}
.sidebar .content .menu-wrapper .menu-item .sub-menu-item-wrapper li {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
}
.sidebar .content .menu-wrapper .menu-item .sub-menu-item-wrapper li a {
  padding: 5px 5px 5px 20px;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
.sidebar .content .menu-wrapper .menu-item .sub-menu-item-wrapper li a:hover {
  cursor: pointer;
  background-color: #292929;
}
.sidebar .content .menu-wrapper .menu-item .sub-menu-item-wrapper li.active a {
  color: #5d9faa;
  font-weight: 600;
}
.sidebar .content .menu-wrapper .menu-item .menu-title.active + .sub-menu-item-wrapper {
  max-height: 100vh;
}
.sidebar .content .seperator {
  width: 100%;
  flex-grow: 1;
}
.sidebar .content .auth {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  padding-top: 5px;
}
.sidebar .content .auth .image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar .content .auth .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .content .auth .image-container .no-image {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  display: grid;
  place-items: center;
}
.sidebar .content .auth .image-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.sidebar .content .auth .image-container .no-image:hover i {
  color: white;
}
.sidebar .content .auth .image-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
.sidebar .content .auth .username {
  flex-grow: 1;
  max-width: 50%;
  overflow-x: hidden;
  font-size: 0.8em;
}
.sidebar .content .auth .logout-button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: white;
}
.sidebar .content .auth .logout-button:hover {
  cursor: pointer;
  background-color: #363636;
}
.sidebar .content .auth .logout-button:hover i {
  color: #F9D00F;
}
.sidebar .content .auth::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: rgb(61, 61, 61);
}
.sidebar.hide {
  width: 20px;
}
.sidebar.hide .content {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  transform: translateX(-100vw);
}

.navbar {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: white;
  font-size: 1rem;
  overflow: hidden;
}
.navbar .container {
  min-width: 280px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar .container .welcome-container {
  flex-basis: 180px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.navbar .container .welcome-container .msg {
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #747474;
  flex-shrink: 0;
}
.navbar .container .welcome-container .username {
  flex-grow: 1;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
  overflow-x: hidden;
}
.navbar .container .nav-menu {
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 0 10px;
  margin: 0;
}
.navbar .container .nav-menu li {
  padding: 5px 10px;
  display: grid;
  place-items: center;
  position: relative;
}
.navbar .container .nav-menu li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.navbar .container .nav-menu li a:hover {
  cursor: pointer;
}
.navbar .container .nav-menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  transition: all 0.2s ease-in-out;
}
.navbar .container .nav-menu li.sport::after {
  background-color: #aa685d;
}
.navbar .container .nav-menu li.env::after {
  background-color: #004452;
}
.navbar .container .nav-menu li.history::after {
  background-color: #E3E31F;
}
.navbar .container .nav-menu li:hover::after {
  width: 100%;
}
.navbar .container .nav-menu li.sport:hover a:first-letter {
  color: #aa685d;
}
.navbar .container .nav-menu li.env:hover a:first-letter {
  color: #004452;
}
.navbar .container .nav-menu li.history:hover a:first-letter {
  color: #E3E31F;
}
.navbar .container .logout .logout-button {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: #004452;
  outline: none;
  border: none;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
  height: 30px;
}
.navbar .container .logout .logout-button:hover {
  background-color: #5d9faa;
}

.confirmation-modal .modal-dialog .modal-content {
  border-radius: 4px;
}
.confirmation-modal .modal-dialog .modal-content .modal-button {
  height: 35px;
  border-radius: 4px;
}
.confirmation-modal .modal-dialog .modal-content .modal-button:hover {
  cursor: pointer;
}
.confirmation-modal .modal-dialog .modal-content .confirm-button {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: #004452;
  outline: none;
  border: none;
  transition: all 0.1s ease-in-out;
}
.confirmation-modal .modal-dialog .modal-content .confirm-button:hover {
  cursor: pointer;
  background-color: black;
}
.confirmation-modal .modal-dialog .modal-content .alert-button {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: #aa685d;
  outline: none;
  border: none;
  transition: all 0.1s ease-in-out;
}
.confirmation-modal .modal-dialog .modal-content .alert-button:hover {
  cursor: pointer;
  background-color: #6a3f37;
}
.confirmation-modal .modal-dialog .modal-content .abort-button {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: #C9C9C9;
  outline: none;
  border: none;
  transition: all 0.1s ease-in-out;
  color: black;
}
.confirmation-modal .modal-dialog .modal-content .abort-button:hover {
  cursor: pointer;
  background-color: #969696;
}

#session-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  max-width: 220px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
#session-message.active {
  transform: translateX(0);
  opacity: 1;
}
#session-message.success .content i.success {
  display: block;
}
#session-message.danger .content i.danger {
  display: block;
}
#session-message.info .content i.info {
  display: block;
}
#session-message .close-button {
  display: grid;
  place-items: center;
  padding: 10px;
}
#session-message .close-button:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}
#session-message .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#session-message .content i {
  font-size: 1.5rem;
  display: none;
}
#session-message .content i.success {
  color: #004452;
}
#session-message .content i.danger {
  color: #aa685d;
}
#session-message .content i.info {
  color: #F9D00F;
}
#session-message .content .message {
  flex-grow: 1;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .sidebar-shadow {
    display: none;
  }
  .sidebar {
    background-color: rgba(28, 28, 28, 0.98);
  }
}
@media screen and (max-width: 767px) {
  .admin-navbar .container .logout {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .admin-navbar .container {
    padding-left: 40px;
  }
}
@media screen and (max-width: 460px) {
  .admin-navbar .container .welcome-container .msg, .admin-navbar .container .welcome-container .username {
    font-size: 0.9rem;
  }
  .admin-navbar .container .nav-menu {
    justify-content: space-between;
  }
  .admin-navbar .container .nav-menu li {
    padding-left: 0;
    padding-right: 0;
  }
  .admin-navbar .container .nav-menu li a {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 302px) {
  .sidebar {
    width: 250px;
  }
  .sidebar .content {
    width: 250px;
  }
}/*# sourceMappingURL=app.css.map */