@import '_var.scss';

.audit-report-page {

    .container {
        
        .page-card {

            .sub-category-form {
                overflow: hidden;
                height: fit-content;
                max-height: 0vh;
                transition: 0.3s ease-in-out;
                opacity: 0;
                pointer-events: none;
                                
                &.show {
                    max-height: 100vh;
                    opacity: 1;
                    pointer-events: all;
                }
            }
            
            .date-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .title {
                    color: black;
                    font-weight: 600;
                }

                .row-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                    row-gap: 5px;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    
                    .row-title {
                    }
    
                    .input-container {
                        width: 320px;
                    }
                }


                
            }


        }
    }
}